@media only screen and (max-width: 440px) {
	html, body {
		overflow-x: hidden;
	}
	body {
		position: relative;
	} 
	.container{
		width: 440px;
		height: 1587px;
	}
	.top{
		width: 100%; /* 320px (1350px) */
	}
	.top img{
		width: 100%;
	}
	.top .top-header{
		display: none;
	}
	.top .top-slideshow .logo-cot-dien-kitchen{
		width: 25%;
	}
	.top .top-slideshow .logo-cot-dien-kitchen img{
		width: 100%;
		margin-top: 20px;
	}
	.top .top-slideshow nav{
		width: 100%;
		position: absolute;
		top: 0%;
		left: 0%;
		float: left;
		background-color: black;
		height: 20px;
	}
	.top .top-slideshow nav ul li{
		line-height: 20px;
	}
	.top .top-slideshow nav ul li.li-responsive {display: none;}
	.top .top-slideshow nav ul a.icon {
		position: absolute;
		right: 20%;
		display: block;
		line-height: 20px;
	}
	.top .top-slideshow nav.responsive {position: relative;}
	.top .top-slideshow nav.responsive .icon {
		position: absolute;
		right: 10%;
		top: 0;
	}
	.top .top-slideshow nav.responsive ul a{
		text-decoration: none;
	}
	.top .top-slideshow nav.responsive ul li.li-responsive{
		float: none;
		display: block;
		text-align: left;
		position: static;
		right: 0%;
		background-color: black;
	}
	.top .top-slideshow nav.responsive ul li.li-active{
		float: none;
		display: block;
		text-align: left;
		position: static;
		right: 0%;
		background-color: black;
	}
	.top .top-slideshow .dat-truoc{
		display: none;
	}
	.top .top-slideshow .prev{
		display: none;
	}
	.top .top-slideshow .next{
		display: none;
	}
	.group-image-circle{
		top: 12%;
		left: 0%;
		width: 100%;
	}
	.group-image-circle .image-circle-text img{
		width: 50%;
	}
	.group-image-circle .image-circle-text .text{
		width: 50%;
		font-size: 10px;
		top: 55%;
		line-height: 1em;
	}


	.gioi-thieu{
		width: 100%; /* 1350px (1350px) */
		height: 11.23%; /* 547px (4869px) */
		position: absolute;
		top: 18%; /* 948px (4869px) */

	}
	.gioi-thieu .gioi-thieu-left{
		width: 100%; /* 675px (1350px) */
		height: 100%; /* 547px (547px) */
		float: left;
	}
	.gioi-thieu .gioi-thieu-left img{
		width: 100%;
		height: 100%;

	}
	.gioi-thieu .gioi-thieu-right{
		width: 100%; /* 675px (1350px) */
		height: 150%; /* 547px (547px) */
		position: relative;
		background-color: #fbfbfb;
	}
	.gioi-thieu .gioi-thieu-right .about-us{
		width: 50%; /* 147px (675px) */
		height: 7.5%; /* 41px (547px) */
		position: absolute;
		top: 5%; /* 60px (547px) */
		left: 0%; /* 56px (675px) */
		font-family: 'Great Vibes', cursive;
		font-size: 42px;
	}
	.gioi-thieu .gioi-thieu-right .gach-ngang{
		width: 20%;/* 163px (675px) */
		height: 1%; /* 2px (547px) */
		background-color: #e5cf05;
		position: absolute;
		left: 0%; /* 56px (675px) */
		top: 25%; /* 136px  (547px) */
	}
	.gioi-thieu .gioi-thieu-right .ve-chung-toi{
		width: 50%;/* 120px (675px) */
		height: 2.93%; /* 16px (547px) */
		position: absolute;
		left: 25%; /* 237px (675px) */
		top: 22%; /* 125px (547px) */
		font-family: 'Montserrat', sans-serif;
		font-weight: 600;
		font-size: 	16px;
		color: #e7d214;
	}
	.gioi-thieu .gioi-thieu-right .lorem{
		width: 79.41%;/* 536px (675px) */
		height: 39.49%; /* 216px (547px) */
		position: absolute;
		left: 0%; /* 56px (675px) */
		top: 30%; /* 170px (547px) */
		font-family: 'Montserrat', sans-serif;
		font-size: 	14px;
		text-align: justify;
		line-height: 1.5;
	}

	.nhom-thong-tin{
		width: 87.7%; /* 1184px (1350px) */
		height: 6.26%; /* 305px (4869px) */
		position: absolute;
		left: 0%; /* 85px (1350px) */
		top: 48.49%; /* 1582px (4869px) */
	}
	.nhom-thong-tin .thong-tin{
		width: 100%; /* 360px (1184px) */
		height: 100%; /* 118px (305px) */
		background-color: #1b2024;
		position: static;
		left: 0%;
		top: 0%;
	}
	.nhom-thong-tin .thong-tin .icon{
		width: 12.22%; /* 44px (360px) */
		height: 37.29%;/* 44px (118px) */
		position: relative;
		left: 10.83%; /* 39px (360px) */
		top: 27.97%; /* 33px (118px) */
	}
	.nhom-thong-tin .thong-tin .hang-muc{
		width: 39.7%; /* 143px (360px) */
		height: 13.56%; /* 16px (118px) */
		position: relative;
		left: 46.11%; /* 166px (360px) */
		top: 0%; /* 32px (118px) */
		font-family: 'Montserrat', sans-serif;
		font-size: 	17px;
		font-weight: 600;
		line-height: 16px;
		color: white;
	}
	.nhom-thong-tin .thong-tin .thanh-tuu{
		width: 46.67%; /* 168px (360px) */
		height: 36.44%; /* 43px (118px) */
		position: relative;
		left: 38.33%; /* 138px (360px) */
		top: 5%; /* 66px (118px) */
		font-family: 'Montserrat' , sans-serif;
		font-size: 	15px;
		font-weight: 500;
		color: white;
	}
	.event{
		width: 100%; /* 1350px (1350px) */
		height: 15%; /* 312px (4869px) */
		position: absolute;
		top: 87%; /* 1980px (4869px) */
	}
	.event .event-left{
		width: 100%; /* 531px (1350px) */
		height: 100%; /* 312px (312px) */
		float: left;
		position: relative;
		background-color: #fbfbfb;
	}
	.event .event-left .event-text{
		width: 15.63%; /* 83px (531px) */
		height: 11.86%; /* 37px (312px) */
		position: absolute;
		left: 0%; /* 92px (531px) */
		top: 8.97%; /* 28px (312px) */
		font-family: 'Great Vibes', cursive;
		font-size: 42px;
	}
	.event .event-left .gach-ngang{
		width: 30.7%; /* 163px (531px) */
		height: 1%; /* 2px (312px) */
		background-color: #e5cf05;
		position: absolute;
		left: 0%; /* 92px (531px) */
		top: 30%; /* 88px (312px) */
	}
	.event .event-left .cuong-nhiet-chung-ket{
		width: 79.47%; /* 422px (531px) */
		height: 43.59%; /* 136px (312px) */
		position: absolute;
		left: 0%; /* 89px (531px) */
		top: 30%; /* 111px (312px) */
		font-family: 'Montserrat' , sans-serif;
		font-size: 13px;
		text-align: justify;
		line-height: 2.4; 
	}
	.event .event-right{
		width: 100%; /* 819px (1350px) */
		height: 100%; /* 312px (312px) */
		position: absolute;
		margin-top: 50%;
	}
	.event .event-right img{
		width: 100%;
	}
	
	.menu{
		width: 83.78%; /* 1131px (1350px) */
		height: 13.9%; /* 677px (4869px) */
		position: absolute;
		left: 0%; /* 107px (1350px) */
		top: 112%; /* 2349px (4869px) */
	}
	.menu .menu-top{
		width: 100%; /* 1131px (1131px) */
		height: 38.4%; /* 260px (677px) */
		position: relative;
	}
	.menu .menu-top .our-menu{
		width: 100%; /* 163px (1131px) */
		height: 15.38%; /* 40px (260px) */
		position: absolute;
		left: 30%;/* 483px (1131px) */
		font-family: 'Great Vibes', cursive;
		font-size: 42px;
	}
	.menu .menu-top .gach-ngang{
		width: 50%; /* 163px (1131px) */
		height: 3%; /* 2px (260px) */
		position: absolute;
		left: 28%;/* 483px (1131px) */
		top: 50%; /* 60px (260px) */
		background-color: #e5cf05;
	}
	.menu .menu-top .duoi-day{
		width: 100%; /* 355px (1131px) */
		height: 16.15%; /* 42px (260px) */
		position: absolute;
		left: 0%;/* 390px (1131px) */
		top: 60%; /* 81px (260px) */
		font-family: Arial;
		font-size: 13px;
		text-align: center;
		line-height: 1.5;
		color: #7c7c7c;
	}
	.menu .menu-top .gach-ngang-ngan{
		width: 2%; /* 32px (1131px) */
		height: 3%; /* 2px (260px) */
		position: absolute;
		left: 0%; /* 332px (1131px) */
		top: 120%; /* 184px (260px) */
		background-color: #e5cf05;
	}
	.menu .menu-top nav{
		width: 100%; /* 375px (1131px) */
		height: 6.92%; /* 18px (260px) */
		position: absolute;
		left: 5%; /* 376px (1131px) */
		top: 110%; /* 176px (260px) */
		font-family: 'Montserrat' , sans-serif;
		font-size: 14px;
		font-weight: 600;
	}
	.menu .menu-top nav ul a{
		color : #24282c;
	}
	.menu .menu-top nav ul li{
		list-style-type: none;
		float: left;
		position: absolute;
	}
	.menu .menu-top nav ul li:hover{
		color: #e5cf05;
	}
	.menu .menu-top nav ul .active{
		color: #e5cf05;
	}
	.menu .list-mon-an{
		width: 100%; /* 1131px (1131px) */
		height: 61.6%; /* 417px (677px) */
		position: relative;
		position: absolute;
		top: 55%;
	}
	.menu .list-mon-an .mon-an{
		width: 100%; /* 546px (1131px) */
		height: 90%; /* 112px (417px) */
		position: static;
	}
	.menu .list-mon-an .mon-an .anh{
		width: 30.59%; /* 167px (546px) */
		height: 100%; /* 112px (112px) */
		float: left;
		position: static;
	}
	.menu .list-mon-an .mon-an .ten-mon-an{
		width: 50%; /* 357px (546px) */
		height: 11.6%; /* 13px (112px) */
		float: left;
		font-family: 'Montserrat' , sans-serif;
		font-size: 14px;
		font-weight: 600;
		line-height: 13px;
		position: static;
		margin-left: 15%;
	}
	.menu .list-mon-an .mon-an .mo-ta{
		width: 50%; /* 357px (546px) */
		height: 33.04%; /* 37px (112px) */
		float: left;
		position: absolute;
		right: 0%;
		top: 35.71%; /* 40px (112px) */
		font-family: 'Montserrat' , sans-serif;
		font-size: 13px;
		color: #878787;
		position: static;
		margin-left: 15%;
	}
	.gallery{
		width: 100%; /* 1350px (1350px) */
		height: 10.78%; /* 525px (4869px) */
		position: absolute;
		top: 165%; /* 3069px (4869px) */
	}
	.gallery .gallery-text{
		width: 7.85%; /* 106px (1350px) */
		height: 10.48%; /* 55px (525px) */
		position: absolute;
		left: 35%; /* 619px (1350px) */
		top: 6.86%; /* 36px (525px) */
		font-family: 'Great Vibes', cursive;
		font-size: 42px;
	}
	.gallery .gach-ngang{
		width: 30%; /* 164px (1350px) */
		height: 1%; /* 2px (525px) */
		position: absolute;
		left: 30%; /* 590px (1350px) */
		top: 40%; /* 101px (525px) */
		background-color: #e5cf05;
	}
	.gallery .duoi-day{
		width: 100%; /* 400px (1350px) */
		height: 3.24%; /* 17px (525px) */
		position: absolute;
		top: 45%; /* 133px (525px) */
		left: 0%;
		font-family: Arial;
		font-size: 13px;
		line-height: 17px;
		color: #7c7c7c;
	}
	.gallery .anh{
		width: 100%; /* 1350px (1350px) */
		height: 50%; /* 337px (525px) */
		position: absolute;
		top: 60%;
		left: 0%;
		display: inline-flex;	
	}
	.gallery .anh img{
		width: 100%; /* 1350px (1350px) */
		height: 100%; /* 337px (525px) */
		float: left;
	}
	.gallery .anh a{
		overflow: hidden;
		display:inline-block;
		float: left;
	}
	.gallery .anh .container{
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
	}
	.gallery .anh .color-overlay{
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0%;
	}
	.gallery .anh img{
		float: left;
		transition: ease 0.5s;
		z-index: -1;
	}
	.gallery .search-icon{
		position: absolute;
		top: 47%;
		font-size: 100%;
		color: white;
		left: 11%;
		width: 15px;
		z-index: 2;
	}
	.dat-ban{
		width: 69.63%; /* 940px (1350px) */
		height: 12.24%; /* 596px (4869px) */
		position: absolute;
		left: 5%; /* 206px (1350px) */
		top: 177%; /* 3714px (4869px) */
	}
	.dat-ban .reservation{
		width: 16.81%; /* 158px (940px) */
		height: 5.87%; /* 35px (596px) */
		position: absolute;
		left: 25%; /* 387px (940px) */
		font-family: 'Great Vibes', cursive;
		font-size: 42px;
	}
	.dat-ban .gach-ngang{
		width: 50%; /* 163px (940px) */
		height: 1%; /* 2px (596px) */
		position: absolute;
		left: 25%; /* 385px (940px) */
		top: 25%; /* 59px (596px) */
		background-color: #e5cf05;
	}
	.dat-ban .de-tranh{
		width: 100%; /* 306px (940px) */
		height: 6.71%; /* 40px (596px) */
		position: absolute;
		left: 0%; /* 312px (940px) */
		top: 25%; /* 81px (596px) */
		font-family: Arial;
		font-size: 13px;
		text-align: center;
		line-height: 2;
	}
	.dat-ban img{
		display: none;
	}
	.dat-ban form{
		width: 90%; /* 402px (940px) */
		height: 62.42%; /* 372px (596px) */
		position: absolute;
		left: 0%; /* 270px (940px) */
		top: 55%; /* 188px (596px) */
	}
	.dat-ban form input{
		width: 100%; /* 159px (402px) */
		height: 4.57%; /* 17px (372px) */
		border: 1px solid #dbdbdb;
		position: static;
		padding: 17px;
		color: #a7a7a7;
		margin-top: 5%;
	}
	/* áº¨n scroll type number*/
	input[type=number]::-webkit-inner-spin-button, 
	input[type=number]::-webkit-outer-spin-button { 
		-webkit-appearance: none; 
		margin: 0; 
	}
	.dat-ban form textarea{
		width: 100%; /* 368px (402px) */
		height: 18.82%; /* 70px (372px) */
		position: absolute;
		top: 287%; /* 196px (372px) */
		padding: 17px;
		border: 1px solid #dbdbdb;
	}
	.dat-ban form button{
		width: 30%; /* 120px (402px) */
		height: 30%; /* 51px (372px) */
		background-color: black;
		position: absolute;
		top: 350%;
		border: none;
		left: 40%; /* 142px (402px) */
		color: white;
		font-weight: 600;
		font-family: 'Montserrat' , sans-serif;
		font-size: 14px;
	}
	::placeholder {
		color: #a7a7a7;
	}
	.footer{
		width: 100%; /* 1350px (1350px) */
		height: 40%; /* 435px (4869px) */
		position: absolute;
		top: 215%;
		background-color: #1b2024;
	}
	.footer img{
		position: absolute;
		left: 10%; /* 96px (1350px) */
		top: 2%; /* 64px (435px) */
		width: 25%;
	}
	.footer .we-have{
		width: 50%; /* 259px (1350px) */
		height: 13.79%; /* 60px (435px) */
		position: absolute;
		left: 40%; /* 105px (1350px) */
		top: 2%; /* 162px (435px) */
		font-family: Arial;
		font-size: 14px;
		color: #cdcdcd;
		line-height: 1.5;
	}
	.footer .group-icon{
		width: 30%; /* 136px (1350px) */
		height: 4.5%; /* 31px (435px) */
		position: absolute;
		left: 7.78%; /* 105px (1350px) */
		top: 10%; /* 253px (435px) */
	}
	.footer .group-icon .icon{
		width: 20.59%; /* 28px (136px) */
		height: 90.32%; /* 28px (31px) */
		border: 1.5px solid white;
		position: absolute;
		text-align: center;
		color: white;
	}
	.footer .group-icon .icon i{
		margin-top: 5px;
	}
	.footer .group-footer{
		width: 100%; /* 286px (1350px) */
		height: 50%; /* 202px (435px) */
		position: relative;
		left: 0%; /* 399px (1350px) */
		top: 15%; /* 85px (435px) */
		color: #d8d8d8;
	}
	.footer .group-footer .gach-ngang-ngan{
		width: 3%; /* 28px (286px) */
		height: 0.5%; /* 1px (202px) */
		background-color: #a7753a;
		position: absolute;
		top: 5%; /* 6px (202px) */
		left: 5%;
	}
	.footer .group-footer .gach-ngang-ngan-responsive{
		width: 3%; /* 28px (286px) */
		height: 0.5%; /* 1px (202px) */
		background-color: #a7753a;
		position: absolute;
		top: -47%; /* 6px (202px) */
		left: -46%;
	}
	.footer .group-footer .thong-tin{
		width: 100%; /* 116px (286px) */
		height: 10%; /* 13px (202px) */
		position: absolute;
		top: 3%;
		left: 10%; /* 32px (286px) */
		font-family: 'Roboto', sans-serif;
		font-size: 16px;
		line-height: 13px;
		font-weight: bold;
		color: #e5cf05;
	}
	.footer .group-footer .opening-hour{
		width: 100%; /* 116px (286px) */
		height: 10%; /* 13px (202px) */
		position: absolute;
		top: -49%;
		left: -41%; /* 32px (286px) */
		font-family: 'Roboto', sans-serif;
		font-size: 16px;
		line-height: 13px;
		font-weight: bold;
		color: #e5cf05;
	}
	.footer .group-footer .fa-map-marker-alt{
		position: absolute;
		top: 10%; /* 56px (202px) */
		left: 5%;
	}
	.footer .group-footer .dia-chi{
		width: 200%; /* 199px (286px) */
		height: 5%; /* 41px (202px) */
		position: absolute;
		left: 9%; /* 29px (286px) */
		top: 9%; /* 52px (202px) */
		font-family: 'Roboto', sans-serif;
		font-size: 	14px;
		line-height: 1.6;
	}
	.footer .group-footer .fa-phone{
		position: absolute;
		top: 22%; /* 115px (202px) */
		left: 5%;
	}
	.footer .group-footer .phone{
		width: 100%; /* 199px (286px) */
		height: 7.43%; /* 15px (202px) */
		position: absolute;
		left: 9%; /* 29px (286px) */
		top: 22%; /* 114px (202px) */
		font-family: 'Roboto', sans-serif;
		font-size: 	14px;
		line-height: 15px;
	}
	.footer .group-footer .fa-envelope{
		position: absolute;
		top: 35%; /* 150px (202px) */
		left: 5%;
	}
	.footer .group-footer .email{
		width: 73.08%; /* 209px (286px) */
		height: 20.3%; /* 41px (202px) */
		position: absolute;
		left: 10%; /* 29px (286px) */
		top: 33%; /* 147px (202px) */
		font-family: 'Roboto', sans-serif;
		font-size: 	14px;
		line-height: 1.5;
	}
	.footer .group-footer .gio-mo-cua{
		width: 77.97%; /* 223px (286px) */
		height: 32.18%; /* 65px (202px) */
		position: absolute;
		top: -42%; /* 48px (202px) */
		left: -43%;
		font-family: 'Roboto', sans-serif;
		font-size: 	14px;
		line-height: 1.7;
	}
	#map{
		width:100%; /* 286px (286px) */
		height:82.18%; /* 166px (202px) */
		position: absolute;
		bottom: 0%;
	}
	.footer .group-footer .map-responsive{
		width: 100%; /* 116px (286px) */
		height: 10%; /* 13px (202px) */
		position: absolute;
		top: -118%;
		left: -63%; /* 32px (286px) */
		font-family: 'Roboto', sans-serif;
		font-size: 16px;
		line-height: 13px;
		font-weight: bold;
		color: #e5cf05;
	}
	.footer .group-footer .map-gach-ngan-reponsive{
		width: 3%; /* 28px (286px) */
		height: 0.5%; /* 1px (202px) */
		background-color: #a7753a;
		position: absolute;
		top: -116%; /* 6px (202px) */
		left: -68%;
	}
	.footer .cot-dien-kitchen{
		width: 100%;
		height: 5%; /* 82px (435px) */
		position: absolute;
		bottom: 0%;
		border-top: 1px solid #494d50;
		text-align: center;
		font-family: Arial;
		font-size: 12px;
		color: #7a7a7a;
		line-height: 30px;
	}
}
